textarea:focus, input:focus{
    outline: none;
}

  @media print {
    html, body, table {
      height: initial !important;
      overflow: initial !important;
      -webkit-print-color-adjust: exact;
      float: none;
    }
  }
   
  /* @media print {
    .page-break {
      margin-top: 1rem;
      display: block;
      page-break-after: always;
    }
  } */
   
  @media print {
    footer {
      margin-bottom: 3rem;
      display: block;
      page-break-after: always;
      position: relative;
      float: none;
    }
    header {
      display: block;
      page-break-before: always;
      position: relative;
      float: none;
    }
    .bottomLine {
      page-break-inside: avoid !important;
    }
  }

  @page {
    size: auto;
    margin: 10mm;
    float: none;

  }

  .table {
      width: 100%;
      text-align: center;
      border: 1px solid black;
      float: none;
  }

  .row {
      /* padding: 15px; */
      width: 100%;
      border-bottom: 1px solid black;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      /* height: 100%; */
      float: none;
  }

  .cell {
    margin: 10px;
    float: none;

  }

  .pad {
    padding: 10px;
    font-size: 16px;
    float: none;
  }

 .bottomLine {
    border-bottom: 1px solid black;
  }

  .rightLine {
    border-right: 1px solid black;
  }

  .left {
      text-align: left;
  }
  .center {
      text-align: center;
  }

  .grey {
      background-color: rgb(238, 238, 238);
  }

  .react-datepicker {
    left: -80px;
}
