textarea:focus, input:focus{
    outline: none;
}
@media all {
    .page-break {
      display: none;
    }
  }
   
  @media print {
    html, body {
      height: initial !important;
      overflow: initial !important;
      -webkit-print-color-adjust: exact;
    }
  }
   
  @media print {
    .page-break {
      margin-top: 1rem;
      display: block;
      page-break-before: auto;
    }
  }
   
  @page {
    size: auto;
    margin: 20mm;
  }

  table {
      width: 100%;
      border-collapse: collapse;
  }

  th, td {
    border: 1px solid black;
    padding: 15px;
  }