textarea:focus, input:focus{
    outline: none;
}
@media all {
    .page-break {
      display: none;
    }
  }
   
  @media print {
    html, body {
      height: initial !important;
      overflow: initial !important;
      -webkit-print-color-adjust: exact;
    }
  }
   
  @media print {
    .page-break {
      margin-top: 1rem;
      display: block;
      page-break-before: auto;
    }
  }
   
  @page {
    size: auto;
    margin: 20mm;
  }

  .table {
      width: 100%;
      text-align: center;
      border: 1px solid black;

  }

  .row {
      /* padding: 15px; */
      width: 100%;
      border-bottom: 1px solid black;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      height: 100%;
  }

  .cell {
    margin: 10px;
  }

  .pad {
    padding: 10px;
    font-size: 16px;
  }

 .bottomLine {
    border-bottom: 1px solid black;
  }

  .rightLine {
    border-right: 1px solid black;
  }

  .left {
      text-align: left;
  }
  .center {
      text-align: center;
  }

  .grey {
      background-color: rgb(238, 238, 238);
  }
